# File-types not allowed based on http://kodi.wiki/view/Add-on_rules#General_requirements
*.so
*.dll
*.pyo
*.exe
*.xbt
*.xpr

# Other binaries
*.jar
*.class

# Caches, attributes or temporal system files
Thumbs.db
.DS_Store
.*~
